<footer class="footer  mt-5  w-100">
    <div class="container">
      <div class="row gy-4 text-start text-md-start">
        
        <!-- Branding Column -->
        <div class="col-12 col-md-6 col-lg-3">
          <h2 class="footer-title">Wanderlust</h2><br><br>
          <p class="footer-subtitle">Where Life meets Travel</p>
        </div>
  
        <!-- Helpful Links Column -->
        <div class="col-12 col-md-6 col-lg-3">
          <h5 class="footer-heading">Helpful Links</h5>
          <a href="#" class="footer-link">Privacy Policy</a>
          <a href="#" class="footer-link">Terms & Conditions</a>
          <a href="#" class="footer-link">Refund Policy</a>
        </div>
  
        <!-- Contact -->
        <div class="col-12 col-md-6 col-lg-3">
          <h5 class="footer-heading">Contact</h5>
          <a href="#" class="footer-link"><i class="fa-solid fa-envelope"></i> contact@wanderlust.in</a>
          <a href="#" class="footer-link"><i class="fa-solid fa-envelope"></i> travel@enjoy.in</a>
          <a href="#" class="footer-link"><i class="fa-solid fa-envelope"></i> explore@travel.in</a>
        </div>
  
        <!-- Socials -->
        <div class="col-12 col-md-6 col-lg-3">
          <h5 class="footer-heading">Get in Touch</h5>
          <a href="#" class="footer-link"><i class="fa-brands fa-square-facebook"></i> Facebook</a>
          <a href="#" class="footer-link"><i class="fa-brands fa-square-instagram"></i> Instagram</a>
          <a href="#" class="footer-link"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        </div>
  
      </div>
  
      <hr class="mt-4" />
      <p class="small text-center mt-2">&copy; Wanderlust Private Limited</p>
    </div>
  </footer>
  