<footer class="footer py-5 mt-5">
  <div class="container text-center">
    <div class="row gy-4 justify-content-center">
      <div class="col-12 col-md-3">
        <h2 class="footer-title">Wanderlust</h2>
        <p class="footer-subtitle">Where Life meets Travel</p>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="footer-heading">Helpful Links</h5>
        <a href="#" class="footer-link d-block">Privacy Policy</a>
        <a href="#" class="footer-link d-block">Terms & Conditions</a>
        <a href="#" class="footer-link d-block">Refund Policy</a>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="footer-heading">Contact</h5>
        <a href="#" class="footer-link d-block"><i class="fa-solid fa-envelope"></i> contact@wanderlust.in</a>
        <a href="#" class="footer-link d-block"><i class="fa-solid fa-envelope"></i> travel@enjoy.in</a>
        <a href="#" class="footer-link d-block"><i class="fa-solid fa-envelope"></i> explore@travel.in</a>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="footer-heading">Get in Touch</h5>
        <a href="#" class="footer-link d-block"><i class="fa-brands fa-square-facebook"></i> Facebook</a>
        <a href="#" class="footer-link d-block"><i class="fa-brands fa-square-instagram"></i> Instagram</a>
        <a href="#" class="footer-link d-block"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      </div>
    </div>
    <hr class="mt-4" />
    <p class="small text-center mt-2">&copy; Wanderlust Private Limited</p>
  </div>
</footer>
