<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2 mt-3">
          
    <h3>Create New Listing</h3>
    <br>
    <form action="/listings" novalidate method="POST" class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a  catchy title"  class="form-control"  required>
            <div class="invalid-feedback">  Please Enter title. </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter Description" class="form-control"  required></textarea>
            <div class="invalid-feedback">   Please Enter description.</div>
        </div>

        <div class="mb-3 dropdown mt-3 category">              
            <input name="listing[category]" id="categoryInput"  placeholder="Select Category"  class="form-control" type="hidden" required>
                <label for="category" class="form-label">Category:</label>
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mountains</a></li>
                    <li><a class="dropdown-item" href="#">Arctic</a></li>
                    <li><a class="dropdown-item" href="#">Rooms</a></li>
                    <li><a class="dropdown-item" href="#">Farms</a></li>
                    <li><a class="dropdown-item" href="#">Trending</a></li>
                    <li><a class="dropdown-item" href="#">Iconic Cities</a></li>
                    <li><a class="dropdown-item" href="#">Castles</a></li>
                    <li><a class="dropdown-item" href="#">Camping</a></li>
                    <li><a class="dropdown-item" href="#">Amazing Pools</a></li>
                    <li><a class="dropdown-item" href="#">Other</a></li>

                </ul>
              
        </div>

        <div class="mb-3">
            <label for="image" class="form-label"> Upload Image</label>
            <input name="listing[image]"  class="form-control"  type="file"  required>
        </div>

        <div class="row">

            <div class="mb-3 col-md-4" >
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter Price" class="form-control"  required>
                <div class="invalid-feedback"> Please Enter price.  </div>
            </div>
          

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter Country" class="form-control" required>
                <div class="invalid-feedback">   Please Enter country .  </div>
            </div> 
           

        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter Location" class="form-control"  required>
            <div class="invalid-feedback"> Please Enter location.</div>
        </div>
       
      
       <button class="btn btn-dark add-btn mt-2">ADD</button>

       
    </form>
    <br>
</div>
<script src="/js/dropdown.js"></script>