body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* Footer */

.f-info-links a{
text-decoration: none;
color: #222222;
margin: 2px;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links , .f-info-socials , .f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom : 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight:400 !important ;
}

.listing-link{
    text-decoration: none;
}
/* category */
.category{
    margin-top: 2rem !important;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* 
Edit and add */

.add-btn,.edit-btn{
    background-color: #fe424d !important;
    color:white !important;
    border: none;
}

/* show */
.show-img{
    height:30vh;
}

.btns{
    display : flex;
}

.show-card{
  padding-left: 0;
  padding-right: 0;

}

/* image */
.Oimg{
    height: 100px;
    
}

/* map */

#map { 
    height: 400px;
    width:80vh;
}

/* filters */

/* #filters{
    align-items: center;
}

.filter{
    margin-right: 1.2rem;
    margin-top: 1.2rem;
    opacity: 0.7;
    transition: 0.2s;
    color: #3a3737d7;
    text-decoration: none;
} */


.filter:hover{
    opacity: 1;
    color: black;
    cursor: pointer;
}
.filter p{
    font-size: 0.7rem;
}
.category-scroll {
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #fecc42e0 transparent;
  }
  
  .category-scroll::-webkit-scrollbar {
    height: 6px;
  }
  .category-scroll::-webkit-scrollbar-thumb {
    background: #fecd42;
    border-radius: 10px;
  }
  
  .filter {
    width: 90px;
    padding: 0.5rem;
    border-radius: 10px;
    transition: background 0.3s ease;
    text-decoration: none;
    color: inherit;
  }
  .filter:hover {
    background-color: #fe424fe5;
    color: white;
  }
 
  
  .filter {
    width: 90px;
    padding: 0.5rem;
    border-radius: 10px;
    transition: background 0.3s ease;
    text-decoration: none;
    color: inherit;
  }
 
    
/* switch */

#toggle-switch{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  height: 3.5rem;
  padding: 0.7rem !important;
  margin-left: 0.5rem !important;
  display: flex;
  align-items: center;
  
}

.tax-info{
    display: none;
}

/* search */
.search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: white;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }